* {
  padding: 0;
  margin: 0;
}

#main {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
}

.settings {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input {
  width: 15vw;
  height: 3vh;
  margin: 5px;
}

.settings > div {
  margin: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings > div > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.output {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.output > div{
  width: 250px;
}

.item:hover {
  color: black;
}

input {
  width: 200px;
}

.between > input {
  width: 40px;
}

#chart {
  max-width: 70vw;
  max-height: 70vh;
}